@model Utente;
@{
    ViewData["Title"] = "Home Page";
}

<h2>Registrazione</h2>
<p>Riempi i campi per registrarti</p>

<form asp-controller="Home" asp-action="Prenotato" method="post">
 
  <div class="form-group">
    <label asp-for="Nome"></label>
    <input type="text" asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" />
  </div>
  <div class="form-group">
    <label asp-for="Cognome"></label>
    <input type="text" asp-for="Cognome" class="form-control" />
    <span asp-validation-for="Cognome" />
  </div>
  <div class="form-group">
    <label asp-for="Tipo"></label>
    <select type="text" asp-for="Tipo" class="form-control">
      <option>Programmaotre</option>
      <option>Studente</option>
      <option>Professore</option>
    </select>
    <span asp-validation-for="Tipo" />
  </div>
  <div class="form-group">
    <label asp-for="Email"></label>
    <textarea asp-for="Email" class="form-control"></textarea>
    <span asp-validation-for="Email" />
  </div>
  <div class="form-group">
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-send"></i> 
    Invia</button>
  </div>
</form>
<div class="text-center">
    <h1 class="display-4">Prenotazione</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>